@use '../config/mixins.scss' as *;

.about {
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding: 180px var(--offset-container);
  color: var(--dark-color);
  background-color: var(--light-color);

  &__title {
    font-size: 96px;
    text-transform: uppercase;
  }

  &__items-wrap {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item-title {
    font-size: 48px;
    color: var(--accent-color);
    text-transform: uppercase;
  }

  &__item-body {
    padding-left: 42px;
    font-size: 42px;
  }

  &__item-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

    > li {
      &::before {
        content: '';
        display: inline-flex;
        width: 16px;
        height: 16px;
        margin-right: 16px;
        @include bg-img(url('../img/icons/dot.svg'));
      }
    }
  }

  &__item-link {
    display: inline-flex;
    gap: 6px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.6s ease-in-out;

    @include hover {
      color: var(--accent-color);
    }

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }
}
