@use '../config/mixins' as *;

.header {
  position: fixed;
  z-index: 1;
  inset: 0 0 auto;
  display: flex;
  gap: 48px;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--dark-color);

  @include hover {
    .header__link {
      transform: translateX(0);
    }
  }

  &__left-part,
  &__right-part {
    display: flex;
    gap: 48px;
  }

  &__left-part {
    .header__link {
      transform: translateX(-200%);
    }
  }

  &__right-part {
    text-align: right;

    .header__item::before {
      order: 1;
    }

    .header__link {
      transform: translateX(200%);
    }
  }

  &__item {
    display: flex;
    gap: 18px;
    align-items: center;

    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      @include bg-img(url('../img/icons/dot-light.svg'));
    }
  }

  &__link-wrap {
    overflow: hidden;
    min-width: 150px;
    font-size: 18px;
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    transition:
      transform 0.4s ease-out,
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out;

    @include hover {
      color: var(--dark-color);
      background-color: var(--light-color);
    }
  }
}
