.main-screen {
  position: relative;
  display: flex;
  gap: 48px;
  align-items: flex-end;
  height: 100vh;
  padding-bottom: 80px;

  &__name-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    align-items: flex-start;
  }

  &__name-icon {
    width: 160px;
    height: 160px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;
    font-size: 124px;
    text-transform: uppercase;
  }

  &__sign {
    display: flex;
    flex-direction: column;
    font-size: 48px;
  }

  &__icon {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    display: block;
    width: 16px;
    height: 16px;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      background-color: currentcolor;
    }

    &::before {
      top: 0;
      width: 2px;
      height: 100%;
    }

    &::after {
      bottom: 0;
      width: 100%;
      height: 2px;
    }
  }
}
