<section class="about">
  <h2 class="about__title">о себе</h2>
  <div class="about__items-wrap">
    <div class="about__item">
      <h3 class="about__item-title">
        Опыт коммерческой
        <br />
        разработки
      </h3>
      <div class="about__item-body">
        <div class="timer-experience js-timer-experience">
          <div class="timer-experience__date">
            <div class="timer-experience__item js-timer-year"></div>
            <div class="timer-experience__item js-timer-month"></div>
            <div class="timer-experience__item js-timer-day"></div>
          </div>
          <p class="timer-experience__time js-timer-time"></p>
        </div>
      </div>
    </div>
    <div class="about__item">
      <h3 class="about__item-title">
        Основной
        <br />
        стек технологий
      </h3>
      <div class="about__item-body">
        <!-- prettier-ignore -->
        <p>
          <a href="https://html.spec.whatwg.org/" target="_blank" class="about__item-link js-link-scramble">HTML</a>,
          <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="about__item-link js-link-scramble">CSS</a>,
          <a href="https://www.w3schools.com/jS/js_versions.asp" target="_blank" class="about__item-link js-link-scramble">JS</a>
        </p>
      </div>
    </div>
    <div class="about__item">
      <h3 class="about__item-title">Основные задачи</h3>
      <div class="about__item-body">
        <ul class="about__item-list">
          <!-- prettier-ignore -->
          <li>
            разработка интерфейсов / ui-компонентов согласно макету (кроссбраузерная адаптивная верстка)
          </li>
          <li>
            разработка и внедрение анимаций -
            <br />
            анимации на CSS/JS, svg-анимации, анимации по скроллу, работа с библиотеками
            <a href="https://gsap.com/" target="_blank" class="about__item-link js-link-scramble">GSAP</a>
            и
            <a href="https://animejs.com/" target="_blank" class="about__item-link js-link-scramble">Anime.js</a>
          </li>
          <!-- prettier-ignore -->
          <li>
            поддержка, доработка и оптимизация ранее разработанных проектов (работа с чужим кодом)
          </li>
        </ul>
      </div>
    </div>
    <div class="about__item">
      <h3 class="about__item-title">Дополнительная информация</h3>
      <div class="about__item-body">
        <ul class="about__item-list">
          <!-- prettier-ignore -->
          <li>
            есть опыт работы с
            <a href="https://react.dev" target="_blank" class="about__item-link js-link-scramble">react</a>,
            <a href="https://vuejs.org" target="_blank" class="about__item-link js-link-scramble">VUE</a>,
            <a href="https://www.typescriptlang.org" target="_blank" class="about__item-link js-link-scramble">TS</a>
          </li>
          <li>
            с макетами работала в
            <a href="https://www.figma.com" target="_blank" class="about__item-link js-link-scramble">FIGMA</a>
          </li>
          <li>
            работаю с
            <a href="https://github.com" target="_blank" class="about__item-link js-link-scramble">GITHUB</a>
            и
            <a href="https://about.gitlab.com" target="_blank" class="about__item-link js-link-scramble">GITLAB</a>
          </li>
          <li>
            при разработке использую препроцессор
            <a href="https://sass-lang.com" target="_blank" class="about__item-link js-link-scramble">SASS</a>
            (SCSS)
          </li>
          <li>
            в качестве сборщиков проектов использую
            <a href="https://vite.dev" target="_blank" class="about__item-link js-link-scramble">VITE</a>
            или
            <a href="https://gulpjs.com" target="_blank" class="about__item-link js-link-scramble">GULP</a>
            +
            <a href="https://webpack.js.org" target="_blank" class="about__item-link js-link-scramble">WEBPACK</a>
          </li>
          <!-- prettier-ignore -->
          <li>
            работаю с линтерами -
            <a href="https://eslint.org" target="_blank" class="about__item-link js-link-scramble">ESLINT</a>,
            <a href="https://prettier.io" target="_blank" class="about__item-link js-link-scramble">PRETTIER</a>,
            <a href="https://stylelint.io" target="_blank" class="about__item-link js-link-scramble">STYLELINT</a>
          </li>
          <li>
            изучаю и стараюсь внедрять практики доступности
            <a href="https://www.w3.org/TR/WCAG21/" target="_blank" class="about__item-link js-link-scramble">
              accessibility
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
