<header class="header">
  <div class="header__left-part">
    <div class="header__item">
      <div class="header__link-wrap"><a href="#" class="header__link">о себе</a></div>
    </div>
    <div class="header__item">
      <div class="header__link-wrap"><a href="#" class="header__link">примеры работ</a></div>
    </div>
  </div>
  <div class="header__right-part">
    <div class="header__item">
      <div class="header__link-wrap"><a href="#" class="header__link">контакты</a></div>
    </div>
  </div>
</header>
