@font-face {
  font-family: 'source-code-pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('Source Code Pro'),
    local('SourceCodePro-Regular'),
    local('Source Code Pro Regular'),
    local('SourceCodePro'),
    url('../fonts/SourceCodePro-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'source-code-pro';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    local('Source Code Pro'),
    local('SourceCodePro-SemiBold'),
    local('Source Code Pro Semi Bold'),
    local('SourceCodePro'),
    url('../fonts/SourceCodePro-SemiBold.woff2') format('woff2');
}
