html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-feature-settings:
    'pnum' on,
    'lnum' on;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  min-width: var(--container-min-width);
  margin: 0;
  padding: 0 16px;
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--light-color);
  text-rendering: optimizespeed;
  letter-spacing: 1px;
  background-color: var(--dark-color);
}

li,
figure,
figcaption,
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

picture {
  display: block;
}

img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit;
  background-color: transparent;

  &:disabled,
  &.disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}

textarea {
  resize: none;
}

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  border: none;
  background: transparent;
}

input {
  padding: 0;
  border: none;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }

  &[type='number'] {
    appearance: textfield;
  }
}

address {
  font-style: normal;
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  display: flex;
  flex-direction: column;
  min-height: var(--vh);
}

.header {
  flex: 0 1 auto;
}

.main {
  flex: 1 1 auto;
  padding-top: var(--header-height, var(--static-header-height));
}

.footer {
  flex: 0 1 auto;
}
