:root {
  // Base
  --font-base: 'source-code-pro', monospace;
  --font-size-base: 16px;
  --font-weight-base: 400;
  --line-height-base: 1;

  // Colors
  --light-color: #fffaed;
  --dark-color: #020202;
  --accent-color: #f34f2b;
}
